---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { Course } from '@/types'
import { getCourses } from '@/utils/posts'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCourses()
  return posts.map((post) => {
    return {
      params: { slug: post.id },
      props: {
        post,
      },
    }
  })
}

type Props = { post: Course }

const { post } = Astro.props
const { title, image, description, date, slides } = post.data

const { Content } = await render(post)

function getDate(date: string) {
  return new Date(date).toLocaleDateString('de-DE', { dateStyle: 'long' })
}
---

<BaseLayout title={title} description={description} pageType="article">
  <article class="prose">
    <h1>{title}</h1>
    <p op-50>
      {date && <time datetime={getDate(date)}>{getDate(date)}</time>}
    </p>
    {
      image && (
        <p>
          <img width="640" height="360" src={image.src} alt={image.alt || ''} />
        </p>
      )
    }
    {
      slides && (
        <p>
          <a class="button" href={slides} target="_blank">
            <i class="i-ph-presentation" />
            Präsentationsfolien
          </a>
        </p>
      )
    }
    <hr />
    <Content />
    <script src="@/scripts/medium-zoom.js"></script>
  </article>
</BaseLayout>
